@import url('https://fonts.googleapis.com/css?family=Poppins');

.team {
    margin-left: 12px;
    margin-right: 12px;
}

.main {
    background-color: darkgray;
}

.contatiner{
    padding-top: 110px;
}



.h2 {
    padding: 0 10px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}



