<div class="main">
  <section class="team">
      <div class="contatiner">
          <h2 class="h2">Članica smo IATA-e od samog osnivanja.
            Konstantno napredujući, uspeli smo, na osnovu rezultata poslovanja - da se svrstamo u red vodećih turističkih agencija na našem tržištu.
             To smo postigli realizacijom ispravne poslovne politike koju sprovodi tim (60 stalno zaposlenih u agenciji i preko
             80 kolega koji rade na terenu) u poslovnici koja je optimalno tehnički opremljena.
            Sopstveni vozni park (trenutno-dvanaest modernih, turističkih autobusa, mini busevi i komforni automobili
            I klase za prevoz VIP gostiju), je izuzetna prednost koju znalački iskorišćavamo.
            O našem ugledu rečito govori i podatak da više od 500 turističkih agencija prodaje nase aranžmane ARGUS TOURS-a,
            koji su kreirali naši komercijalisti. Stoga ne čudi podatak (za 2015. godinu) da je ova razgranata prodajna mreža opslužila
            oko 55.000 klijenata.</h2>

      </div>
  </section>
</div>

