<div class="main">
  <section class="team">
      <div class="contatiner">
          <h1>Naš tim</h1>
          <h2 class="h2">Naši treneri su obrazovani studenti i profesori sa Fakulteta sporta i fizičkog vaspitanja,
              kao i sa strane Medicinskog fakulteta. Usmereni su na rad sa rekreativcima, sportistima,
              osobama sa povišenim pritiskom, osobama sa dijabetesom, osobama sa problemima kardiorespiratorne forme,
                  osobama sa deformitetima kičmenog stuba i ekstremiteta itd. Bilo koji problem da imate, naši treneri su tu
                  vam maksimalno pomognu da dođete do željenog cilja.</h2>
          <div class="row">
              <div class="col-md-3 profile text-center">
                  <div class="img-box">
                      <img src="assets/images/ourteam3.jpg" class="img-responsive">

                  </div>
                  <h2>Nikola Nikolić</h2>
                  <h3>Diplomirani profesor sporta i fizičkog vaspitanja<br>Menadžer Gladiator gym-a<br>Kondicioni trener</h3>
              </div>
              <div class="col-md-3 profile text-center">
                  <div class="img-box">
                      <img src="assets/images/ourteam2.jpg" class="img-responsive">

                  </div>
                  <h2>Petar Petrović</h2>
                  <h3>Diplomirani profesor sporta i fizičkog vaspitanja<br>Funkcionalni trener<br>Personalni trener</h3>
              </div>
              <div class="col-md-3 profile text-center">
                  <div class="img-box">
                      <img src="assets/images/ourteam1.jpg" class="img-responsive">

                  </div>
                  <h2>Dragana Draganović</h2>
                  <h3>Diplomirani profesor sporta i fizičkog vaspitanja<br>Diplomirani kineziterapeut<br>Funkcionalni trener</h3>
              </div>
          </div>
      </div>
  </section>
</div>

