<div class="table-wrapper">
  <table class="fl-table">
      <thead>
      <tr>
          <th>Destinacija</th>
          <th>Smeštaj</th>
          <th>Termin (15.10 - 25.10)</th>
          <th>Termin (25.10-05.11)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td>Istanbul</td>
          <td>apartman</td>
          <td>250$</td>
          <td>150&</td>
      </tr>
      <tr>
          <td>Milano</td>
          <td>hotel 5*</td>
          <td>450$</td>
          <td>950$</td>
      </tr>
      <tr>
          <td>Barselona</td>
          <td>hotel 5*</td>
          <td>950$</td>
          <td>850$</td>
      </tr>
      <tr>
          <td>Rim</td>
          <td>hotel 4*</td>
          <td>560$</td>
          <td>660$</td>
      </tr>
      <tbody>
  </table>
</div>
