<div class="table-wrapper">
  <table class="fl-table">
      <thead>
      <tr>
          <th>Destinacija</th>
          <th>Smeštaj</th>
          <th>Termin (15.10 - 25.10)</th>
          <th>Termin (25.10-05.11)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td>Kopaonik</td>
          <td>apartman</td>
          <td>250$</td>
          <td>150&</td>
      </tr>
      <tr>
          <td>Francuska</td>
          <td>hotel 5*</td>
          <td>450$</td>
          <td>550$</td>
      </tr>
      <tr>
          <td>Jahorina</td>
          <td>hotel 5*</td>
          <td>180$</td>
          <td>250$</td>
      </tr>
      <tbody>
  </table>
</div>
