<header id="showcase">
  <h1 id="h1">Turistička agencija</h1>
  <a href="#section-2" class="button">Saznajte visee</a>
</header>

<div id="section-2">
  <p class="text">Agencija Go2 Event d.o.o je porodica brendova za putovanja, koja nudi najbolja i najinovativnija iskustva u putovanjima za mlade širom Srbije i regiona. Od srednje škole do fakulteta i univerziteta, nudimo iskustva koja slave putovanja, nova i stara prijateljstva i avanturu.
    Go2 Travelling, jedan od najpopularnijih brendova koji se bavi turizmom za mlade. Sa svojim jedinstvenim pristupom iz godine u godinu broji sve veći broj mladih, zadovoljnih putnika koji uživaju u dobrom provodu i kvalitetnom sadržaju na putovanjima.
    Go2 Adventure,  koji se bavi avanturističkim putovanjima  i dalekim i egzotičnim putovanjima. Sa puno poverenja, entuzijazma i želje za novim naletima adrenalina okupljamo putnike koji razumeju šta znači kada kažemo „Carpe diem“
    Go2 Serbia, jedan od najpoznatijih brendova koji utiče i svestrano pomaže razvoj domaćeg turizma. Okupljajući turiste kao i domaće putnike željne uživanja u Beogradu i Srbiji Go2 Serbia uživa status prvog mesta koje se posećuje kada su u pitanju novosti i dobre ponude iz oblasti incoming turizma.
    Go2 America, brend koji uspešno sarađuje sa svim mladim ljudima koji žele najkavlitetniju ponudu iz oblasti „work&travel“ programa u USA.
    Sa sloganom Explore.Dream.Discover sa svojim putnicima se zabavljamo svakog dana, na svakom putovanju. Istražujemo svet po danu, ostajemo budni celu noć, i sve to radimo na različitim mestima sa prijateljima proživljavajući trenutke koji se urezuju u sećanje zauvek.
    Sa preko 50 tematski različitih putovanja godišnje, sa direktnim pristupom studentskoj i omladinskoj populaciji u Srbiji (300.000 mladih na godišnjem nivou) kroz promocije u srednjim školama, fakultetima, studentskim domovima, kroz razgranatu mrežu promotera i kroz jaku zajednicu na društvenim mrežama širimo svoju porodicu.
    Ono što je počelo kao putovanje za 20 prijatelja je poraslo na stotine zaposlenih, na hiljade putnika i jedinstvena iskustva u putovanju širom sveta.
  </p>

</div>


