<!--</mdb-card><div id = "Istanbul">
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h5 class="pink-text"><i class="fas fa-plane"></i> ISTANBUL </h5>
      <p>Istanbul kroy istoriju poznat kao Carigrad, najnaseljeniji je grad u Turskoj Republici
         i privredno, kulturno i istorijsko središte zemlje. Istanbul je prvenstveno poznat po
          vizantijskoj i osmanskoj arhitekturi, ali njegove građevine održavaju sve narode i
           carstva koja su ranije vladala gradom. <i class="fas fa-caret-right    "></i></p>
      <a mdbBtn color="pink" mdbWavesEffect>
         View project
      </a>
    </div>
  </div>
</div> -->

<div class = "tab-content ">
  <div role="tabpanel" class = "tab-pane active" id = "home">
      <div class = "item">
          <a href="/offers-winter">
            <h4>Zimovanja</h4>
            <p></p>
            <div class = "content-overlay"></div>
            <img width="332" height="511" src="../../assets/zimovanje.jpg" class="img-responsive wp-post-image"
            alt loading= "lazy" srcset="../../assets/zimovanje.jpg 332w ,
             ../../assets/zimovanje.jpg , 195w" sizes = "(max-width : 332px) 100vw, 332px">
          </a>
      </div>
      <div class = "item">
        <a href="/offers-summer">
          <h4>Letovanja</h4>
          <p></p>
          <div class = "content-overlay"></div>
          <img width="332" height="511" src="../../assets/letovanje.jpg" class="img-responsive wp-post-image"
          alt loading= "lazy" srcset="../../assets/letovanje.jpg 332w ,
           ../../assets/letovanje.jpg , 195w" sizes = "(max-width : 332px) 100vw, 332px">
        </a>
    </div>
    <div class = "item">
      <a href="/offers-attraction">
        <h4>Atrakcije</h4>
        <p></p>
        <div class = "content-overlay"></div>
        <img width="332" height="511" src="../../assets/istanbul.jpg" class="img-responsive wp-post-image"
        alt loading= "lazy" srcset="../../assets/istanbul.jpg 332w ,
         ../../assets/istanbul.jpg , 195w" sizes = "(max-width : 332px) 100vw, 332px">
      </a>
  </div>
  </div>
</div>
